<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="foo" value="foo" />
    <add key="bar" value="bar" />
    <add key="baz" value="baz" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="Shouldly" publicKeyToken="6042cbcb05cbc941" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.2.0" newVersion="2.8.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>