<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <appSettings>
    <add key="QuestionConfigurationSetting" value="What is Nate's answer to life, the universe and everything?"/>
    <add key="AnswerConfigurationSetting" value="42"/>
  </appSettings>
</configuration>
